@import "./variables";
.site-navigation {
      display: flex;
      width: 100%;
      height: 60px;
      margin: 0px auto;
      background-color: teal;
      font-weight: 400;
      justify-content: space-between;
      align-items: center;
      color: rgb(25, 25, 25);
      font-family: Montserrat, sans-serif;
      position: sticky;
      top: 0px;
      z-index: 1500;
      backdrop-filter: blur(10px);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    

      .search_input {
            font-size:  1.2rem;
            font-weight: 300;
            height: 35px;
            width: 45%;
            outline: none;
            border-radius: 5px;
            background: rgb(247, 247, 247);

      }
      .menu-title {
            font-size: 24px;
            font-weight: 500;
            display: flex;
            align-items: center;
            margin-left: 30px;

            .username {
                  list-style: none;
                  color: white;

                  a {
                        text-decoration: none;
                        padding: 0 20px 0 20px;
                        font-size: 24px;
                        color: $text-color;

                        &:hover {
                              color: $text-link;
                        }
                  }
            }
      }

      .menu-content-container {
            display: flex;
            align-items: center;
            padding-right: 100px;
      }

      ul {
            height: 100%;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;
            display: flex;
            align-items: center;
            list-style-type: none;

            a {
                  text-decoration: none;
                  padding: 0 20px 0 20px;
                  font-size: 16px;
                  color: $text-color;

                  &:hover {
                        color: $text-link;
                  }
            }

            .btn-signout {
                  background: teal;
                  color: white;
                  border: none;
                  font-size: 20px;
            }
      }
}

@media screen and (max-width: 900px) {
      .site-navigation {
            .menu-content-container {
                  width: 300px;
                  height: calc(100% - 65px);
                  background: white;
                  position: fixed;
                  top: 65px;
                  left: -300px;
                  transition: 300ms ease left;
                  flex-direction: column-reverse;
                  padding: 0;
                  padding-left: 35px;

                  a {
                        width: 100%;
                        padding: 0;
                  }

                  ul {
                        flex-direction: column;
                        justify-content: flex-start;
                        padding: 0;
                        padding-top: 20px;
                  }

                  li {
                        height: 45px;
                        display: flex;
                        align-items: center;
                  }

                  .menu-avatar-container {
                        padding-top: 25px;
                  }

                  ul,
                  li,
                  .menu-avatar-container {
                        width: 100%;
                  }

                  &.active {
                        left: 0px;
                  }
            }

            .ion-ios-menu {
                  display: flex;
            }
      }
}
