@import "./variables.scss";

.profile_page{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0px 25px;
    display: block;
    margin-left: 375px;
    margin-top: 12px;
    background: #f8f9fa;
}

.create_profile_page{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0px 25px;
    display: block;
    margin-left: 375px;
    margin-top: 12px;
    background: #f8f9fa;
}