@import "./variables";
.products {
      max-width: 1230px;
      margin: 21px auto;
      padding: 0px 43px;
      // box-shadow: rgb(238, 238, 238) 0px 0px 35px;
      display: grid;
      margin-top: 12px;
      grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
      background: $background;
}

.product_card {
      max-width: 300px;
      overflow: hidden;
      height: 335px;
      box-shadow: 0 0 15px #ddd;
      margin: 5px 5px;
      padding: 5px 10px;
      position: relative;
      border-radius: 5px;

      img {
            width: 100%;
            height: 200px;
            display: block;
            object-fit: contain;
      }
      .product_box {
            display: flex;
            justify-content: center;
            align-items: center;
      }
      .product_box h3 {
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            text-transform: capitalize;
            cursor: pointer;
            color: teal;
      }

      .product_box span {
            color: crimson;
      }
}
p {
      width: 100%;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      margin-top: -20px;
      height: 57px;
      overflow: hidden;
      color: darkgray;
      font-size: 12px;
}
.row_btn {
      width: 100%;
      margin-top: 15px;

        .btn-manage {
            width: 30%;
            text-align: center;
            text-transform: uppercase;
            background: orange;
            font-weight: 500;
            letter-spacing: 2px;
            border: none;
            border-radius: 5px;
            color: white;
        }

      .btn-slot {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            margin-bottom: 12px;

            .btn-view {
                  width: 30%;
                  text-align: center;
                  text-transform: uppercase;
                  background: teal;
                  font-weight: 500;
                  letter-spacing: 2px;
                  border: none;
                  border-radius: 6px;

                  a {
                        text-decoration: none;
                        color: white;
                        font-size: 15px;
                  }
            }

            .btn-buy {
                  width: 30%;
                  text-align: center;
                  text-transform: uppercase;
                  background: tomato;
                  font-weight: 500;
                  letter-spacing: 2px;
                  border: none;
                  border-radius: 5px;
                  color: white;
            }
      }
}
