@import './variables.scss';

.sidebar {
      max-width: 230px;
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: flex-start;
      margin: 0 14px 0 65px;
      /* width: 273px; */
      margin-right: 45px;
      .nav {
            width: 100%;
            height: 450px;
            padding: 65px 25px;
            background: $background;
            margin: 13px 9px;
            border-radius: 5px;
            margin-right: 5px;
            box-shadow: #eeeeee 0px 0px 35px;
            color: teal;
      }
      .nav li {
            list-style: none;
            padding: 5px;
      }
      // .nav li a {
      //     padding: 8px 30px;
      //     margin-bottom: 0px;
      //     /* border-radius: 40px; */
      // }
      .nav li a .icon {
            margin-right: 5px;
      }
      .nav li a .lbl {
            padding: 5px;
            margin: 3px;
      }

      //   .nav li a.on {
      //         //border-left: 1px #15B5FA solid;
      //         color: #15b5fa;
      //         line-height: 1px;
      //   }

      .nav li a:hover,
      .nav li a:active {
            //border-left: 0 #15B5FA solid;
            color: #15b5fa;
            //line-height: 2px;

            /* TODO: Create Click on menu */
      }
}
