@import "./_variables.scss";
@import "./carts.scss";
@import "./login.scss";
@import "./nav.scss";
@import "./product_detail.scss";
@import "./products.scss";
@import "./requestResetPassword.scss";
@import "./sidebar.scss";
@import "./signup.scss";
@import "./profile.scss";
@import "./brands.scss";
@import"./banner.scss";




html,
body {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
            Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      background-color: $background;
}

a {
      color: inherit;
      text-decoration: none;
}

h1 {
      font-size: 2rem;
}

